<div class="grid-container">
    <div class="grid-item column-one">
        <!-- Contenido de la primera columna -->
        <h1>GifsApp</h1>
        <div class=" column-list">
            <ul>
                <li *ngFor="let elemento of elementos" (click)="buscarGifs(elemento)">
                    {{ elemento }}
                  </li> <!-- Agregado evento de clic -->
            </ul>
        </div>
    </div>
    <div class="grid-item column-two">
        <!-- Contenido de la segunda columna -->

        <div class="search-container">
            <p>Buscar:</p>
            <input type="text" placeholder="Buscar gifs..." [(ngModel)]="filtro" (keyup.enter)="buscarGifs(filtro)">
   

        </div>

        <div class="image-container">
            <div  *ngFor="let gif of gifs">  
                <img [src]="gif.url" [alt]="gif.title" />
                <p>{{ gif.title }}</p>  
            </div>

        </div>
    </div>
</div>